:root {
    --color-scheme: light dark;
    color-scheme: var(--color-scheme);

    --hue: 250;

    --page-bg: light-dark(oklch(0.95 0.01 var(--hue)), oklch(0.16 0.014 var(--hue)));

    --card-bg: light-dark(rgba(255, 255, 255, 1), oklch(0.23 0.015 var(--hue)));
}
