:root {
    /* --color-scheme: light dark; */
    color-scheme: var(--color-scheme);

    /* --hue: 250; */

    --page-bg: light-dark(oklch(0.95 0.01 var(--hue)), oklch(0.16 0.014 var(--hue)));

    --card-bg: light-dark(rgba(255, 255, 255, 1), oklch(0.23 0.015 var(--hue)));

    --primary: light-dark(oklch(0.70 0.14 var(--hue)), oklch(0.75 0.14 var(--hue)));

    --btn-bg-hover: light-dark(oklch(0.95 0.025 var(--hue)), oklch(0.30 0.035 var(--hue)));

    --btn-bg-active: light-dark(oklch(0.98 0.01 var(--hue)), oklch(0.27 0.025 var(--hue)));

    --btn-text: light-dark(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75));

    --github-icon: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));

    --search-bg: light-dark(rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.05));

    --search-icon: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));

    --search-bg-hover-focus: light-dark(rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0.1));

    --search-text: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));

    --btn-content: light-dark(oklch(0.55 0.12 var(--hue)), oklch(0.75 0.1 var(--hue)));

    --btn-regular-bg: light-dark(oklch(0.95 0.025 var(--hue)), oklch(0.33 0.035 var(--hue)));

    --btn-regular-bg-hover: light-dark(oklch(0.9 0.05 var(--hue)), oklch(0.38 0.04 var(--hue)));

    --btn-regular-bg-active: light-dark(oklch(0.85 0.08 var(--hue)), oklch(0.43 0.045 var(--hue)));

    --rainbow-light: linear-gradient(to right, oklch(0.80 0.10 0), oklch(0.80 0.10 30), 
    oklch(0.80 0.10 60), oklch(0.80 0.10 90), oklch(0.80 0.10 120), oklch(0.80 0.10 150), 
    oklch(0.80 0.10 180), oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), 
    oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360));
    --rainbow-dark: linear-gradient(to right, oklch(0.70 0.10 0), oklch(0.70 0.10 30), 
    oklch(0.70 0.10 60), oklch(0.70 0.10 90), oklch(0.70 0.10 120), oklch(0.70 0.10 150), 
    oklch(0.70 0.10 180), oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), 
    oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360));
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    /* 能解决滑动条下边界问题 */
    display: block;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: var(--rainbow-light);
    height: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
}

@media (prefers-color-scheme: dark) {
    .slider::-webkit-slider-runnable-track {
      background: var(--rainbow-dark);
    }
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 1rem;
    border-radius: 0.125rem;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider::-webkit-slider-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

.slider::-webkit-slider-thumb:active {
    background: rgba(255, 255, 255, 0.6);
}

.float-panel-closed {
    @apply -translate-y-1 opacity-0 pointer-events-none;
}
