:root {
    --color-scheme: light dark;
    color-scheme: var(--color-scheme);

    --hue: 250;

    --page-bg: light-dark(oklch(0.95 0.01 var(--hue)), oklch(0.16 0.014 var(--hue)));

    --card-bg: light-dark(rgba(255, 255, 255, 1), oklch(0.23 0.015 var(--hue)));

    --primary: light-dark(oklch(0.70 0.14 var(--hue)), oklch(0.75 0.14 var(--hue)));

    --btn-bg-hover: light-dark(oklch(0.95 0.025 var(--hue)), oklch(0.30 0.035 var(--hue)));

    --btn-bg-active: light-dark(oklch(0.98 0.01 var(--hue)), oklch(0.27 0.025 var(--hue)));

    --btn-text: light-dark(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75));

    --github-icon: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));

    --search-bg: light-dark(rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.05));

    --search-icon: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));

    --search-bg-hover-focus: light-dark(rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0.1));

    --search-text: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));

}

.float-panel-closed {
    @apply -translate-y-1 opacity-0 pointer-events-none;
}
