---
import { Icon } from "astro-icon/components";

const { type = "note", title = "" } = Astro.props
---

<div class={`flex w-full before:w-1 before:rounded`} 
class:list={{'before:bg-blue-300': type === 'note', 'before:bg-green-300': type === 'tip', 
'before:bg-purple-300': type === 'important', 'before:bg-orange-300': type === 'warning',
'before:bg-red-300': type === 'caution'}}>
    
    <div class="ml-2">
        <!-- 第一行符号和 title -->
        <div class="flex items-center bg-slate-200">
            <Icon name="lucide:alert-circle" class={`w-[18px] h-[18px]`} class:list={{
            'text-blue-300': type === 'note', 'text-green-300': type === 'tip', 
            'text-purple-300': type === 'important', 'text-orange-300': type === 'warning',
            'text-red-300': type === 'caution'}}/>
            <p class="ml-2 font-bold my-0" class:list={{'text-blue-300': type === 'note', 
            'text-green-300': type === 'tip', 'text-purple-300': type === 'important', 
            'text-orange-300': type === 'warning', 'text-red-300': type === 'caution'}}>
            { title === "" ? type.toUpperCase() : title.toUpperCase() }</p>
        </div>
        <p class="my-0">
            <slot></slot>
        </p>
    </div>
</div>
