---
import { Icon } from "astro-icon/components";
import { siteConfig } from "../config"
---

<a href={siteConfig.bannerlink} target="_blank" class="flex items-center w-max bg-slate-500">
    <Icon name="material-symbols:copyright-outline-rounded"></Icon>
    <p class="">{siteConfig.bannerCredit}</p>
    <Icon name="fa6-solid:arrow-up-right-from-square"></Icon>
</a>
