---
import { Image } from 'astro:assets';
import BannerImage from "../assets/demo-banner.png";
---

<div class="absolute top-0 w-full h-[16.5rem] lg:h-[28.75rem] z-10 transition-all">
    <Image src={BannerImage} alt="" class="w-full h-full object-cover object-center"/>
</div>
