---

---

<div class="rounded-2xl bg-[var(--card-bg)] p-3 mb-4">
    <!-- 第一行容器 -->
    <div class="flex before:w-1 before:h-4 before:bg-[var(--primary)] before:rounded-md gap-2 
    before:mt-1">
        <p class="font-bold text-base">Categories</p>
    </div>
    <!-- 实际内容 -->
</div>
