---
import { getCollection } from 'astro:content';

import { Icon } from 'astro-icon/components';

let blogs = await getCollection('blog');

blogs = blogs.filter((blog) => blog.data.draft !== true);

blogs.sort((a, b) => b.data.published.getTime() - a.data.published.getTime());

const blogSummaries = blogs.map((blog) => {
    const { title, published, category, tags, description } = blog.data;

    return {
        slug: blog.slug, 
        title, 
        published, 
        category, 
        tags, 
        description, 
    };
});
// blogSummaries 输出示例
// [
//     {
//         "slug": "markdown-extended", 
//         "title": ...
//         ...
//         "tags": {
//             "Demo", 
//             "Example",
//             ...
//         },
//         "description": "..."
//     },
//     {
//         ...
//     }
// ]
---

<!-- 对应了 PostCard.astro -->
{
    blogSummaries.map((blog) => (
        <div class="flex items-center justify-between bg-[var(--card-bg)] rounded-2xl w-full px-3 py-3 mb-4">
            <div class="bg-slate-400">

                <a href={`posts/${blog.slug}`} class="flex items-center">
                    { blog.title }
                    <Icon name="material-symbols:chevron-right-rounded"/>
                </a>

                <div class="flex items-center">
                    <Icon name="material-symbols:calendar-today-outline-rounded"/>
                    <p class="">
                        { blog.published.toISOString().slice(0, 10) }
                    </p>
                    <Icon name="material-symbols:book-2-outline-rounded"/>
                    <p>
                        { blog.category }
                    </p>
                    <Icon name="material-symbols:tag-rounded"/>
                    <p>
                        { blog.tags }
                    </p>
                </div>

                <p>
                    { blog.description }
                </p>

            </div>
            <a href={`posts/${blog.slug}`} class="flex items-center justify-center 
            w-[3.25rem] h-44 rounded-xl text-[var(--primary)] bg-[var(--btn-regular-bg)] 
            hover:bg-[var(--btn-regular-bg-hover)] active:bg-[var(--btn-regular-bg-active)] 
            active:scale-95 transition-all">
                <Icon name="material-symbols:chevron-right-rounded" class={` 
                w-9 h-9`}/>
            </a>
        </div>
    ))
}
