---
import "../styles/global.css"

import Navbar from "../components/Navbar.astro"

let hueCookie = Astro.cookies.get('hue')?.value;
// console.log(hueCookie);

if (!hueCookie) {
	hueCookie = '250';
	Astro.cookies.set('hue', hueCookie, {path : '/', maxAge: 60 * 60 * 24 * 365});
}
---

<html lang="en" style={`--hue: ${hueCookie};`}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-[var(--page-bg)] min-h-[200rem]">
			<Navbar></Navbar>
		</div>
	</body>
</html>
